# Changelog

{% if context.history.unreleased | length > 0 %}
{# UNRELEASED #}
## Unreleased

{% for type_, commits in context.history.unreleased | dictsort %}
{% if type_ == "fix" %}
### 🐛 Bug Fixes
{% elif type_ == "chore" %}
### 🧰 Chores / Maintenance
{% elif type_ == "feature" %}
### 🚀 Features
{% elif type_ == "documentation" %}
### 📖 Documentation
{% elif type_ == "style" %}
### ✏️ Formatting
{% elif type_ == "build" %}
### 📦️ Build
{% else %}
### Other
{% endif%}
{% for commit in commits %}{% if type_ != "unknown" %}
{% set msg = commit.message.rstrip() %}
{% set msg_no_ID = msg[msg.index(':')+2:] %}
* {{ msg_no_ID }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% else %}
* {{ msg }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% endif %}{% endfor %}{% endfor %}{% endif %}

{% for version, release in context.history.released.items() %}
{# RELEASED #}

## {{ version.as_semver_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})

{% for type_, commits in release["elements"] | dictsort %}
{% if type_ == "fix" %}
### 🐛 Bug Fixes
{% elif type_ == "chore" %}
### 🧰 Chores / Maintenance
{% elif type_ == "feature" %}
### 🚀 Features
{% elif type_ == "documentation" %}
### 📖 Documentation
{% elif type_ == "style" %}
### ✏️ Formatting
{% elif type_ == "build" %}
### 📦️ Build
{% else %}
### Other
{% endif%}
{% for commit in commits %}{% if type_ != "unknown" %}
{% set msg = commit.message.rstrip() %}
{% set msg_no_ID = msg[msg.index(':')+2:] %}
* {{ msg_no_ID }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% else %}
* {{ msg }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% endif %}{% endfor %}{% endfor %}{% endfor %}
